---
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";

---

<section>
    <Container className="space-y-8">
        <div class="text-center max-w-3xl mx-auto">
            <Title>
                Clientes que confían en nosotros
            </Title>
        </div>
        <div class="flex justify-center flex-wrap gap-4">
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/images/galapagos_ecofriendly.webp" width="300" height="240" alt="galapagos ecofriendly" class="h-full sm:h-48 w-full ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/images/galapagos_sunset_hotel.webp" width="300" height="240" alt="galapagos sunset hotel" class="h-full sm:h-48 w-full ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/images/naibo.webp" width="300" height="240" alt="naibo" class="h-full sm:h-48 w-full ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/images/netser_group.webp" width="300" height="240" alt="netser group" class="h-full sm:h-48 w-full ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/images/super_pro_minimarket.webp" width="300" height="240" alt="super pro minimarket" class="h-full sm:h-48 w-full ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
        </div>
    </Container>
</section>